<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Electro - HTML Ecommerce Template</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="css/slick.css" />
    <link type="text/css" rel="stylesheet" href="css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="css/style.css" />

</head>

<body>
    <% include nav-bar.ejs%>

        <div class="container">
            <div class="row ">
                <div class="col-lg-6">
                    <h3>Chỉnh sửa quảng cáo</h3>
                    <form action="/advertisements/edit" enctype="multipart/form-data" method="post">
                        <div class="form-group">
                            <label class="label-product-form">Mã quảng cáo</label>
                            <input type="text" class="form-control" name="id" value="<%=advertisement.id%>" placeholder="" id="productId" readonly="readonly">
                        </div>
                        <div class="form-group">
                            <label class="label-product-form">Ảnh quảng cáo</label>
                            <img src="<%=advertisement.anh%>" class="product-thumbnail-form">
                            <input type="file" name="anh" accept="image/*">
                        </div>
                        <div class="form-group ">
                            <label class="label-product-form">Link</label>
                            <input type="text" class="form-control" name="link" placeholder=" " value="<%=advertisement.link%>" required>
                        </div>
                        <div class="form-group ">
                            <label class="label-product-form">Trạng thái</label>
                            <p>
                                <%=advertisement.status%>
                            </p>
                            </textarea>
                        </div>
                        <div class="form-group ">
                            <button type="submit" value="submit" class="button">Lưu thay đổi</button>
                        </div>

                    </form>

                    <div style="margin-bottom: 64px;">
                        <% if (advertisement.status=='locked' ){%>
                            <form action="/advertisements/unlock?id=<%=advertisement.id%>" method="post">
                                <button style="background-color: rgb(255, 136, 0); border-color: #F01D4F; display: inline; border: 0px; margin-bottom: 16px;" type="submit" class="button">Mở khóa</button>
                            </form>
                            <% } else { %>
                                <form action="/advertisements/lock?id=<%=advertisement.id%>" method="post">
                                    <button style="background-color: rgb(255, 136, 0); border-color: #F01D4F; display: inline; border: 0px; margin-bottom: 16px;" type="submit" class="button">Khóa</button>
                                </form>
                                <% } %>
                                    <form action="/advertisements/remove?id=<%=advertisement.id%>" method="post" style="display: inline;">
                                        <button style="background-color: #F01D4F; border-color: #F01D4F; display: inline; border: 0px;" type="submit" value="submit" class="button">Xóa</button>
                                    </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- jQuery Plugins -->
        <script src="js/jquery.min.js "></script>
        <script src="js/bootstrap.min.js "></script>
        <script src="js/slick.min.js "></script>
        <script src="js/nouislider.min.js "></script>
        <script src="js/jquery.zoom.min.js "></script>
        <script src="js/main.js "></script>
        <script type="text/javascript" src="http://example.com/jquery.min.js"></script>
        <script type="text/javascript" src="http://example.com/image-uploader.min.js"></script>
</body>

</html>